html, body, #root, .react-root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  text-align: center;
}

button {
  padding: 10px 15px;
  margin: 15px;
  min-width: 100px;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.red {
  background-color: red;
  color: white;
}

.blue {
  background-color: blue;
  color: white;
}

.yellow {
  background-color: yellow;
  color: black;
}
